---
layout: default
---

  <ul class="post-list">
    {% for post in site.posts %} <!--site.posts-->
    <article class="hentry" itemprop="articleBody">

    <li>

    <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
    <span class="post-meta">
      <i class="fa fa-calendar"></i> 
      <time itemprop="datePublished" datetime="{{ post.date |  date_to_xmlschema }}">                                                       
      {{ site.locales[site.default_locale].PostDate }}{{ post.date | date: "%b %-d, %Y" }}
      </time> 
      <i class="fa fa-tags"></i>
      {% if post.tags != empty %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }} </a>{% unless post.tags.last == tag %}, {% endunless %}
      {% endfor %}
      {% endif %}         
    </span>

    {% if post.link %}
    <h1 class="entry-title"><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
    <h1 class="entry-title"><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %} 

    </li>
      {{ post.content }}
    </article>
    {% endfor %}
  </ul>
